@import "./base/layout.scss";
@import "./base/reset.scss";
@import "./base/variables.scss";
@import "./base/typography.scss";
@import "./base/pill.scss";
@import "./base/button.scss";
@import "./base/nav.scss";
@import "./base/footer.scss";

.comps {
  margin: 60px auto;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
}
