@import "./base/reset.scss";
@import "./base/variables.scss";
@import "./base/typography.scss";
@import "./base/button.scss";
@import "./base/nav.scss";

.blog__container {
  max-width: $max-width;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
