@import "./base/reset.scss";
@import "./base/variables.scss";
@import "./base/typography.scss";
@import "./base/button.scss";
@import "./components/nav.scss";

.blog__container {
  max-width: 920px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;

  .blog__content {
    border: 1px solid green;
    margin: 30px 0;
  }
}
