@import "./base/layout.scss";
@import "./base/reset.scss";
@import "./base/variables.scss";
@import "./base/typography.scss";
@import "./base/button.scss";
@import "./base/nav.scss";
@import "./base/footer.scss";
@import "./base/pill.scss";
@import "./base/newsletter.scss";

.hero {
  max-width: calc($max-width + 120px);
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  gap: 50px;
  text-align: left;

  .hero__container {
    margin-top: 30px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 30px;

    .text__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .cta__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 40px;
      text-decoration: none;
    }
  }

  .bento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: repeat(5, 1fr);
    gap: 25px;
    width: 100%;
    margin-top: 20px;

    .bento__base__card {
      display: flex;
      flex-direction: column;
      padding: 30px 30px 0 30px;
      gap: 30px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 8px;

      img {
        transition: all 0.19s ease-out;
      }

      &:hover {
        img {
          padding: 0;
          margin: 0;
          transform: translate(0, -20px);
        }
      }
    }

    .bento__card__1 {
      grid-area: 1 / 1 / 2 / 4;
      background-color: $slate-3;
      border: 1px solid $slate-6;
      width: 100%;
      height: 420px;
    }
    .bento__card__2 {
      grid-area: 2 / 1 / 3 / 3;
      background-color: $slate-3;
      border: 1px solid $slate-6;
      width: 100%;
      height: 420px;
    }

    .bento__card__3 {
      grid-area: 2 / 3 / 3 / 6;
      background-color: $slate-3;
      border: 1px solid $slate-6;
      width: 100%;
      height: 420px;
    }

    .bento__card__4 {
      grid-area: 1 / 4 / 2 / 6;
      background-color: $slate-3;
      border: 1px solid $slate-6;
      width: 100%;
      height: 420px;
    }
  }
}

.features {
  max-width: calc($max-width + 120px);
  margin: 120px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  .features__item {
    // background-color: $slate-2;
    border: 1px solid $slate-6;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: default;

    .features__item__text {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        width: 26px;
        height: 26px;
        font-size: 14px;
        background-color: $slate-7;
        border-radius: 100px;
      }
    }

    &:hover {
      span {
        background-color: $blue-7;
      }
    }

    .features__item__card {
      width: 120px;
      height: 120px;
      border: 1px solid $slate-6;
      background-color: $slate-3;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
    }
  }
}

.events {
  max-width: $max-width;
  margin: 120px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .events__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }

  .slots {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;

    .slot {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      gap: 20px;
      align-items: flex-start;
      width: 200px;
      height: 260px;
      background: $slate-1;
      border-radius: 10px;
      border: 1px solid $slate-6;
      padding: 20px;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      transform: translate(0, 0);
      transition: transform 0.245s ease-out;
      cursor: default;

      .slot__obj {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      &:not(:first-child) {
        margin-left: -135px;
      }

      &:hover:not(:last-child) {
        transform: translate(-50px, -45px) rotate(-2deg);
      }
    }
  }
}

.overview {
  max-width: calc($max-width + 120px);
  margin: 120px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 60px 40px;
  background-color: #fff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 10px;

  .mock {
    margin-top: 55px;
    height: 520px;
    background-color: $slate-9;
    border-radius: 10px;
    width: 100%;
  }

  .overview__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .overview__container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    .overview__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      text-align: left;

      .overview__item__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
      }
    }
  }
}

.features {
  max-width: calc($max-width + 120px);
  margin: 120px auto 0 auto;
  width: 100%;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .features__container {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    .card {
      background-color: #ffffff;
      border: 1px solid rgb(216, 222, 228);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      .top__rect {
        background-color: $blue-4;
        height: 100%;
        width: 100%;
      }

      .bottom__text {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        border-top: 1px solid rgb(216, 222, 228);
        text-align: left;
      }
    }
  }
}

.faq {
  max-width: calc($max-width + 120px);
  margin: 165px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .faq__container {
    margin-top: 60px;
    text-align: left;
    border-radius: 8px;
    // display: grid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    // margin-top: 45px;

    .faq__item {
      border-bottom: 1px solid $slate-4;
      padding-bottom: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 20px;
      gap: 20px;

      .text-7 {
        font-weight: 500;
      }

      .faq__item__q {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }

      .faq__item__a {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

.roadmap {
  max-width: calc($max-width + 120px);
  margin: 120px auto 0 auto;
  width: 100%;
  text-align: center;

  .roadmap__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
    border: 1px solid rgb(229, 229, 229);
    // background-color: $slate-1;
    border-radius: 8px;
    padding: 30px;

    .roadmap__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
      gap: 20px;

      span {
        width: 45%;
      }
    }

    .roadmap__item__container {
      // flex: 3;
      // background-color: $slate-3;
      // border: 1px solid $slate-7;
      border-radius: 8px;
      padding-top: 40px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: first baseline;
      gap: 40px;
      margin-top: -1px;

      .roadmap__item {
        // background-color: transparent;
        // border-radius: 8px;
        // border: 1px solid $slate-7;
        padding: 1rem;
        // margin-top: -1.5px;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;

        // &.done {
        //   .roadmap__item__point {
        //     background-color: black;
        //   }

        //   .highlight,
        //   .text-8 {
        //     color: #007bff;
        //   }
        // }

        .highlight,
        .text-8 {
          color: gray;
        }

        // .roadmap__item__point {
        //   width: 5px;
        //   height: 5px;
        //   // background-color: rgb(0, 0, 0);
        //   background-color: $slate-9;
        // }
      }
    }
  }
}
