[submodule "scripts/ledger/resources/app-bitcoin"]
	path = scripts/ledger/resources/app-bitcoin
	url = https://github.com/LedgerHQ/app-bitcoin-new.git
[submodule "scripts/ledger/resources/app-ethereum"]
	path = scripts/ledger/resources/app-ethereum
	url = https://github.com/LedgerHQ/app-ethereum.git
[submodule "scripts/ledger/resources/app-solana"]
	path = scripts/ledger/resources/app-solana
	url = https://github.com/LedgerHQ/app-solana.git
[submodule "scripts/ledger/resources/speculos"]
	path = scripts/ledger/resources/speculos
	url = https://github.com/LedgerHQ/speculos.git
[submodule "scripts/ssv/resources/ssv"]
	path = scripts/ssv/resources/ssv
	url = https://github.com/bloxapp/ssv.git
[submodule "contracts/ethereum/scripts/resources/lighthouse"]
	path = contracts/ethereum/scripts/resources/lighthouse
	url = https://github.com/sigp/lighthouse.git
[submodule "contracts/ethereum/scripts/resources/ssv-network"]
	path = contracts/ethereum/scripts/resources/ssv-network
	url = https://github.com/bloxapp/ssv-network.git
[submodule "contracts/ethereum/scripts/resources/ssv-contracts"]
	path = contracts/ethereum/scripts/resources/ssv-contracts
	url = https://github.com/bloxapp/ssv-contracts.git
