[submodule "scripts/ledger/resources/app-bitcoin"]
	path = scripts/ledger/resources/app-bitcoin
	url = https://github.com/LedgerHQ/app-bitcoin-new.git
[submodule "scripts/ledger/resources/app-ethereum"]
	path = scripts/ledger/resources/app-ethereum
	url = https://github.com/LedgerHQ/app-ethereum.git
[submodule "scripts/ledger/resources/app-solana"]
	path = scripts/ledger/resources/app-solana
	url = https://github.com/LedgerHQ/app-solana.git
[submodule "scripts/ledger/resources/speculos"]
	path = scripts/ledger/resources/speculos
	url = https://github.com/LedgerHQ/speculos.git
[submodule "contracts/ethereum/scripts/resources/ssv-network"]
	path = contracts/ethereum/scripts/resources/ssv-network
	url = https://github.com/bloxapp/ssv-network.git
[submodule "contracts/ethereum/scripts/resources/ssv-contracts"]
	path = contracts/ethereum/scripts/resources/ssv-contracts
	url = https://github.com/bloxapp/ssv-contracts.git
[submodule "contracts/ethereum/scripts/resources/consensus-specs"]
	path = contracts/ethereum/scripts/resources/consensus-specs
	url = https://github.com/ethereum/consensus-specs.git
[submodule "scripts/trezor/resources/trezor-user-env"]
	path = scripts/trezor/resources/trezor-user-env
	url = https://github.com/trezor/trezor-user-env.git
[submodule "services/keys/scripts/resources/dkg"]
	path = services/keys/scripts/resources/dkg
	url = https://github.com/RockX-SG/frost-dkg-demo.git
