[submodule "contracts/ethereum/lib/forge-std"]
	path = contracts/ethereum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/ethereum/lib/ssv-network"]
	path = contracts/ethereum/lib/ssv-network
	url = https://github.com/bloxapp/ssv-network.git
	branch = jato-v2
[submodule "services/oracle/lib/dkg"]
	path = services/oracle/lib/dkg
	url = https://github.com/consensusnetworks/ssv-dkg.git
	branch = feature/operator-env
