@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -0.6px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-app-width: 1275px; 
  --min-app-width: 360px;
  --navbar-height: 56px;
  --x-padding: 14px;
  --y-padding: 4px;
  --page-padding: 24px;
}

body {
  @apply bg-lightBg dark:bg-darkBg text-mainDarkText dark:text-mainLightText;
}

body h1 {
  font-size: 32.44px;
  font-weight: 600;
  letter-spacing: -0.032em;
}

body h2 {
  font-size: 28.83px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

body h3 {
  font-size: 25.63px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

body h4 {
  font-size: 22.78px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

body h5 {
  font-size: 20.25px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

body h6 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

body p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.022em;
}

body small {
  font-size: 14.22px;
  font-weight: 400;
  letter-spacing: -0.022em;
}

body caption{
  font-size: 12.64px;
  font-weight: 300;
  letter-spacing: -0.022em;
}

.app_container{
  @apply w-screen h-screen overflow-x-hidden;
}

.app_container_inner {
  @apply w-full mx-auto py-[24px] 1300s:px-[24px];
  min-height: calc(100% - var(--navbar-height));
  max-width: var(--max-app-width);
  min-width: var(--min-app-width);
  transition: padding 0.5s;
}

.nav_bar_container{
  @apply w-full sticky top-0 left-0 border-b 
  border-b-lightBorder dark:border-b-darkBorder bg-white/60 dark:bg-black/60 backdrop-blur-sm;
  height: var(--navbar-height)
}

.nav_bar_container_inner{
  @apply w-full h-full mx-auto flex 
  items-center justify-center 1300s:px-[24px];
  max-width: var(--max-app-width);
  min-width: var(--min-app-width);
  transition: padding 0.5s;
}


.pill_primary {
  @apply bg-black rounded-[999px] 
  px-[var(--x-padding)] py-[var(--y-padding)] text-lightBorder
  dark:bg-white dark:text-black
  flex items-center gap-[12px];
}

.pill_primary_icon {
  @apply w-[14px] h-[14px] mb-[2px]
}

.pill_primary_button{
  @apply bg-black hover:bg-hover_black active:bg-active_black
  dark:bg-white dark:text-black dark:hover:bg-hover_white 
  dark:active:bg-active_white;
}

.nav_links{
  @apply text-black_1/30 dark:text-white/30 
  hover:text-black_1/60 dark:hover:text-white/60
  active:text-black_1/80 dark:active:text-white/80
  text-[14px] font-[500];
}

.nav_link_active{
  @apply text-black_1 dark:text-white;
}

.nav_icon{
  @apply text-gray_3 w-[18px] h-[18px] dark:text-white;
}

.nav_menu_bar{
  @apply sr-only 700s:not-sr-only text-black_1
  hover:text-black_1/30 active:text-black_1/60
  dark:text-white
  dark:hover:text-white/30 dark:active:text-white/60;;
}

.nav_menu_container {
  @apply absolute top-0 left-0 w-screen h-screen overflow-hidden z-[999];
}

.nav_menu_inner {
  @apply w-[250px] h-full bg-[#FFF] dark:bg-black_1
    border-r border-r-lightBorder dark:border-r-darkBorder 
    px-[24px] pt-[12px] pb-[24px] flex flex-col justify-between 
    overflow-auto items-start;
}

.nav_menu_links{
  @apply text-black_1 dark:text-white
  text-[16px] font-[500] flex items-center gap-[12px]
  opacity-30 hover:opacity-60 active:opacity-80 
  hover:bg-gray_4/60 dark:hover:bg-gray_5/60
  px-[14px] py-[10px] w-full rounded-[8px]; 
  transition: all 0.2s ease-in;
  
}

.nav_menu_links img{
  @apply opacity-100 w-[18px] h-[18px] ml-[1px];
}
.nav_menu_links_icons{
  @apply w-[20px] h-[20px];
}

.nav_bar_avatar_size{
  width: 20px;
  height: 20px;
}

.nav_menu_links_active{
  @apply text-black_1 dark:text-white font-[500] 
  opacity-100 bg-gray_4 dark:bg-gray_5;
}

.connect_wallet_menu_btn{
  @apply w-full rounded-[6px] px-[16px] py-[6px] border
  border-lightBorder dark:border-lightBorder/40 flex items-center
  justify-between;
}

.placeholder_avatar{
  @apply w-[19px] h-[19px] rounded-[999px];
  background: linear-gradient(135deg, #0D5FFF 15%, #000 92.5%);
}

.card{
  @apply bg-[#FFF] dark:bg-black 
  border border-lightBorder dark:border-lightBorder/40
  rounded-[6px] overflow-hidden
}

.connect_wallet_card{
  @apply bg-[#FFF] dark:bg-black 
  border border-lightBorder dark:border-lightBorder/40
  rounded-[6px] overflow-hidden p-[24px] max-w-[300px] w-full h-[450px] text-left;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);
}

.card_title{
  @apply mb-[6px] text-black dark:text-white tracking-tight;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.shawdow{
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.17);
}
.card_subtitle{
  @apply text-black_1 dark:text-white/80;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page_container {
  @apply w-full h-max; 
  min-height: calc(100vh - var(--navbar-height) - 48px);  
}

.toasts_container_vertical {
  @apply fixed bottom-0 right-0 flex flex-col 
  items-end pb-[24px] z-[10];
  max-height: calc(100% - var(--navbar-height) - 48px);

  @media screen and (min-width: 1275px) {
    right: calc((100% - 1275px) / 2 + 6px);
  }

  @media screen and (max-width: 1275px) {
    right: 24px;
  }
}

.toasts_container_horizontal{
  @apply fixed bottom-0 right-0 flex flex-col
  items-end pb-[24px] z-[10];
  @media screen and (min-width: 1275px) {
    right: calc((100% - 1275px) / 2 + 6px);
  }

  @media screen and (max-width: 1275px) {
    right: 24px;
  }
}

.toast {
  @apply rounded-[8px] p-[24px] w-[350px]
  mt-[12px] bg-lightBg dark:bg-black
  border border-lightBorder dark:border-lightBorder/40 z-[10] 
  shadow-md dark:shadow-sm dark:shadow-white/40;
  transition: all 0.3s ease-in;
}

.toast_mini {
  @apply rounded-[8px] bg-lightBg dark:bg-black w-[40px] h-[40px]
  border border-lightBorder dark:border-lightBorder/40 z-[10] 
  flex items-center justify-center shadow-md;
  transition: all 0.3s ease-in;  
}
