@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -0.6px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-app-width: 1275px;
  --navbar-height: 56px;
  --x-padding: 14px;
  --y-padding: 4px;
  --page-padding: 24px;
}

body {
  @apply bg-lightBg dark:bg-darkBg text-mainDarkText dark:text-mainLightText;
}

h1 {
  font-size: 32.44px;
  font-weight: 600;
  letter-spacing: -0.032em;
}

h2 {
  font-size: 28.83px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

h3 {
  font-size: 25.63px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

h4 {
  font-size: 22.78px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

h5 {
  font-size: 20.25px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

h6 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.022em; 
}

p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.022em;
}

small {
  font-size: 14.22px;
  font-weight: 400;
  letter-spacing: -0.022em;
}

caption{
  font-size: 12.64px;
  font-weight: 300;
  letter-spacing: -0.022em;
}

.app_container{
  @apply w-screen h-screen overflow-x-hidden;
}

.app_container_inner {
  @apply w-full mx-auto py-[24px];
  min-height: calc(100% - var(--navbar-height));
  max-width: var(--max-app-width);
}

.nav_bar_container{
  @apply w-full sticky top-0 left-0 border-b 
  border-b-lightBorder dark:border-b-darkBorder;
  height: var(--navbar-height)
}

.nav_bar_container_inner{
  @apply w-full h-full mx-auto flex 
  items-center justify-between;
  max-width: var(--max-app-width);
}

.nav_bar_container_inner img{
  @apply h-[16px] w-[19.56px];
}

.pill_primary {
  @apply bg-black rounded-[999px] 
  px-[var(--x-padding)] py-[var(--y-padding)] text-lightBorder
  dark:bg-white dark:text-black
  flex items-center gap-[12px] w-min;
}

.pill_primary_icon {
  @apply w-[14px] h-[14px] mb-[2px]
}

.pill_primary_button{
  @apply bg-black hover:bg-hover_black active:bg-active_black
  dark:bg-white dark:text-black dark:hover:bg-hover_white 
  dark:active:bg-active_white;
}

.nav_links{
  @apply text-gray_1 text-[14px] font-[500]
}