@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
font-family: 'IBM Plex Sans', sans-serif;
font-synthesis: none;

max-width: 1400px;
margin: auto;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
}

:root::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 319px;
    background-color: #000;
    z-index: -1;
  }

.tooltip_container{
    position: relative;
}

.tooltip_container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    position: absolute;
    top: 110%;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 8px;
    visibility: hidden;
    white-space: normal;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 5;
}