@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
font-family: 'OpenSauceOneRegular';
font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/* -webkit-text-size-adjust: 100%; */
}

/* scrollbar stuff works for all browsers except firefox... */
::-webkit-scrollbar {
width: 5px;
border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
background: #F2F2F2;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #8c8c8c;
width: 3px;
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
  
#app {
/* max-width: 1280px;
min-width: 360px;

margin: 0 auto;
/* height: 100vh; */
background: #fff;
overflow: auto;
}


@layer base {
    /* Base Tags */
    h1{
        font-family: 'OpenSauceOneBlack';
        font-weight: 900;
        font-size: 96px;
        line-height: 120px;
        letter-spacing: -0.025em;
    }
    h2{
        font-family: 'OpenSauceOneBold';
        font-weight: 700;
        font-size: 60px;
        line-height: 75px;
        letter-spacing: -0.015em;
    }
    h3{
        font-family: 'OpenSauceOneMedium';
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.03em;
    }
    h4{
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: -0.02em;
    }
    h5{
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
    }
    h6{
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }
    .text-body {
        /* h7 */
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.02em;
    }
    .text-caption {
        /* h8 */
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 10px;
        line-height: 12.5px;
        letter-spacing: -0.02em;
    }
}
@layer components {
    .carousel_container{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .carousel_slider {
        height: 100%;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    .carousel_slider::-webkit-scrollbar {
        display: none;
    }
    .carousel_slider_item{
        scroll-snap-align: start;
        background-color: #E4E4E7;
        flex-shrink: 0;
        height: 100%;
        justify-content: center;
        position: relative;
        transform: scale(1);
        transform-origin: center center;
        transition: transform .5s;
        width: 100%;
    }

    .carousel__nav {
        padding: 1.25rem .5rem;
    }
      
    .carousel_slider_nav {
        background-color: #ddd;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
    }
    .carousel_slider_nav a{
        text-decoration: none;
    }
    
    .carousel_slider_nav:hover,
    .carousel_slider_nav:active {
        background-color: #000;
    }


    .multi_wallet_container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        transition: grid-template-columns 0.5s
    }
    .reverse_multi_wallet_container{
        grid-template-columns: 2fr 1fr;
        transition: grid-template-columns 0.5s
    }
    
    .toggle{
        @apply w-40 h-20 border border-blue_2 rounded-[25px]
        flex items-center px-5;
    }
    .toggle_center {
        @apply w-10 h-10 bg-blue_2 rounded-[25px];
    }
    .connected_wallets_card{
        @apply border border-grey px-15 py-10
        w-[95%] mx-auto mb-15; 
    }
    .connected_wallets_card h6 {
        @apply text-blue_3 font-bold;
    }
    .connected_wallets_card img {
        @apply h-35 w-35;
    }
    .supported_wallet_box {
        @apply border border-grey flex 
        justify-between items-center px-15 py-10
        w-[100%] mx-auto;       
    } 
    .supported_wallet_box:hover {
        @apply border-blue_3;
        box-shadow: 0px 0px 5px rgba(128, 171, 255, 0.25);
    }
    .supported_wallet_box h6 {
        @apply text-blue_3 font-bold;
    }
    .supported_wallet_box img {
        @apply h-35 w-35;
    }
    .staking_nav_item{
        @apply inline-block relative;
    }
    .staking_nav_item .staking_nav_item_bar{
        @apply invisible absolute
        bg-primary h-3 w-[150%] left-[-25%];
        top: calc(100% - 3px);
    } 
    .staking_nav_item:hover .staking_nav_item_bar{
        @apply visible;
    }
    .nav_modal_container{
        @apply inline-block ;
    }
    .nav_modal_container .nav_modal {
        @apply invisible absolute w-0 h-0;
    }
    .nav_modal_container:hover .nav_modal{
        @apply visible absolute
        top-70 border-b-2 border-b-grey_2
        left-[0px] w-[100%] pt-20 bg-white z-[100] h-min;
    }
    /* TD: Fix tooltip locations... for some reason not working... */
    .tooltip{
        @apply relative inline-block;
    }
    .tooltip .tooltip_text {
        @apply invisible bg-black text-white
        text-center px-12 py-8 z-10;
    }
    .tooltip:hover .tooltip_text {
        @apply visible;
    }
    .tooltip_topleft{
        @apply absolute w-max
        top-[-185%] left-[-90%];
    }
    .tooltip_topleft::after {
        content: " ";
        position: absolute;
        top: 100%;
        right: calc(5px);
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .tooltip_topcenter{
        @apply absolute w-full;
        top: calc(-100% - 10px);
    }
    .tooltip_topcenter::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: calc(50%);
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .tooltip_topright{
        @apply absolute w-max
        top-[-185%] left-[85%];
    }
    .tooltip_topright::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: calc(10px);
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .tooltip_middleleft{
        @apply absolute w-max;
        top: calc(-25% - 4px);
        right: calc(100% + 10px);
    }
    .tooltip_middleleft::after {
        content: " ";
        position: absolute;
        top: calc(50% - 3px); 
        left: calc(100% + 5px);
        rotate: -90deg;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .tooltip_middleright{
        @apply absolute w-max;
        top: calc(25% - 4px);
        left: calc(100% + 10px);
    }
    .tooltip_middleright::after {
        content: " ";
        position: absolute;
        top: calc(45% - 3px); 
        right: calc(100% );
        rotate: 90deg;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .tooltip_bottomleft{
        @apply absolute w-max;
        top: calc(100% + 10px);
        right: calc(100% - 20px);
    }
    .tooltip_bottomleft::after {
        content: " ";
        position: absolute;
        bottom: 100%; 
        right: calc(5px);
        rotate: 180deg;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .tooltip_bottomcenter{
        @apply absolute w-max mx-auto;
        top: calc(100% + 10px);
        left: 50%;
        transform: translate(-50%, 0);
    }
    .tooltip_bottomcenter::after {
        content: " ";
        position: absolute;
        bottom: 100%; 
        left: calc(50%);
        rotate: 180deg;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .tooltip_bottomright{
        @apply absolute w-max;
        top: calc(100% + 10px);
        left: calc(100% - 20px);
    }
    .tooltip_bottomright::after {
        content: " ";
        position: absolute;
        bottom: 100%; 
        left: calc(10px);
        rotate: 180deg;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    .slider {
        @apply flex items-center justify-between gap-[20px];
    }
    .slider input[type="range"] {
        width: calc(100% - 250px);
        height: 2px;
        background: #d9d9d9;
        border: none;
        outline: none;
    }
    .slider input[type="range"]::-webkit-slider-thumb {
        cursor: pointer;
    }
    .pill_primary{
        @apply py-[6px] px-[12px]
        bg-[#EAF1FF] text-primary 
        border border-primary border-[0.25px]
        rounded-[100px] text-body font-bold text-center
        flex items-center;
    }
    .btn_primary {
        @apply  flex  flex-row  items-center 
        justify-center px-[24px]  py-[12px] 
        gap-[10px] bg-primary  text-white
        hover:bg-blue_7 disabled:bg-blue_2
        disabled:text-grey_6;
    }
    .btn_text {
        @apply  flex  flex-row  items-center 
        justify-center text-caption
        gap-[10px] text-primary 
        hover:text-blue_7
        disabled:text-grey_6;
    }
    .modal {
        display: block; 
        position: absolute; 
        z-index: 1; 
        left: -50px;
        top: -25px;
        width: calc(100% + 98px);
        height: calc(100vh + 1px);
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0, 0, 0, 0.8);
    }
    .modal-content {
        background-color: #fff;
        padding: 20px 30px;
        border: 1px solid #888;
        width: 100vw;
    }
}
@layer utilities {
    .two_thirds_one_third_grid_to_full{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        transition: grid-template-columns 10.5s;
    }
    .reverse_two_thirds_one_third_grid_to_full{
        grid-template-columns: 1fr;
    }
    .loading {
        background: linear-gradient(50deg, 
        #80ABFF,#4D89FF, #0D5FFF, #0D5FFF,#4D89FF, #80ABFF);
        animation: movingBackground 2s ease infinite;
        background-size: 200%;
    }
    .loading_grey {
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        animation: 2s shine linear infinite;
        background-size: 200%;
    }
    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }
    @keyframes movingBackground {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        0% {
            background-position: 0% 50%;
        }
    }
    .side-nav-container {
        @apply 
        w-sidebar-closed 
        hover:w-sidebar-open 
        max-w-[300px]
        slowExpand 
        bg-blue_10 
        py-marginsY 
        table ;
    }
    .nav-imgs {
        @apply h-[20px] mb-[30px] ml-[5px];
    }
    .side-nav-tabs {
        @apply 
        overflow-hidden
        py-[12px] 
        pl-gutter
        flex
        mb-gutter 
        cursor-pointer;
    }
    .side-nav-tabs:hover {
        @apply bg-blue_7;
    }
    .side-nav-tabs i{
        @apply  
        inline-block 
        text-[24px] 
        table-cell 
        align-middle
        ml-[5px] mr-gutter;
    }
    .side-nav-tabs-selected {
        @apply bg-blue_5 text-white;
    }
    .slowExpand {
        transition: 0.5s all ease-in-out;
    }
    .slowExpandText {
        display: inline-block;
        vertical-align: bottom;
        overflow: hidden;
        animation: slowNavBarText 1.5s ease forwards;
    }
    @keyframes slowNavBarText {
        from {
          max-width: 0.5rem;
        }
        /* Based on side bar width */
        to {
          max-width: 300px;
        }
    }
}


/* Charts */


#line_chart svg {
    /* display: block;
    margin-top: auto;
    margin-bottom: auto; */
    width: 100%;
    height: 100%;
}
  .axis {
    font-family: 'OpenSauceOneRegular';
    font-weight: 100;
    font-size: 8px;
    line-height: 12.5px;
    letter-spacing: -0.02em;
    stroke: #8C8C8C;
  }
  
  .axis path, .axis line {
    fill: none;
    stroke: #D9D9D9;
    stroke-width: 2px;
    shape-rendering: crispEdges;

  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focus circle {
    fill: #80ABFF;
    stroke: #D9D9D9;
    stroke-width: 1px;
  }
    
  .hover-line {
    stroke: #D9D9D9;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }
  
  #selections .col-md-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .line {
    fill: none;
    stroke-width: 1px;
    /* stroke: #80ABFF; */
  }

  /*  */

  svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
  
  