@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'OpenSauceOneRegular';
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  #app {
    max-width: 1280px;
    min-width: 360px;
    overflow: auto;
    margin: 0 auto;
    height: 100vh;
    background: #fff;
  }


@layer base {
    /* Base Tags */
    h1{
        font-family: 'OpenSauceOneBlack';
        font-weight: 900;
        font-size: 96px;
        line-height: 120px;
        letter-spacing: -0.025em;
    }
    h2{
        font-family: 'OpenSauceOneBold';
        font-weight: 700;
        font-size: 60px;
        line-height: 75px;
        letter-spacing: -0.015em;
    }
    h3{
        font-family: 'OpenSauceOneMedium';
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.03em;
    }
    h4{
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: -0.02em;
    }
    h5{
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
    }
    h6{
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }
    
}

@layer components {
    /* Component Classes */
    .social-button {
        @apply 
        bg-white
        px-[8px] py-[6px]
        font-bold my-gutter cursor-pointer;
        overflow: hidden;
        white-space:nowrap;
        display:inline-block;
        width: 40px;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }
    .social-button:hover {
        box-shadow: 0px 0px 50px 10px rgba(204, 206, 210, 0.366);
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
        @apply lg:w-[70%] csm:w-[35%] md:w-[50%];
    }
}

@layer utilities {
    /* Utilities Styling */
    .text-body {
        /* h7 */
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.02em;
    }
    .text-caption {
        /* h8 */
        font-family: 'OpenSauceOneRegular';
        font-weight: 400;
        font-size: 10px;
        line-height: 12.5px;
        letter-spacing: -0.02em;
    }
    .home-nav-dynamic-text {
        @apply 
        nav-mid:text-[48px] nav-mid:leading-[60px] nav-mid:font-medium
        nav-sm:text-[36px] nav-sm:leading-[45px] nav-sm:font-semibold
        nav-xsm:text-[16px] nav-xsm:leading-[20px] nav-xsm:font-black
        ;
    }
    .side-anim {
        animation: 1s anim-side ease-out;
    }
    @keyframes anim-side {
    0% {
        opacity: 0;
        transform: translateX(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
    }
    .rotate-anim {
        animation:spin 10s linear infinite;
    }
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
    .nav-imgs {
        @apply h-[32px] mr-[3vw];
    }
    .nav-links {
        font-family: 'OpenSauceOneMedium';
        @apply text-white mr-[2vw];
    }
    .nav-links:hover {
        @apply text-blue_2;
    }
    .nav-links-selected {
        font-family: 'OpenSauceOneBold';
        @apply text-primary ;
    }
}