@mixin base {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.22s ease;
  -webkit-box-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: $text-9-font-size;
}

.btn-primary {
  @include base;
  background-color: $slate-12;
  border-radius: 5px;
  border: 1px solid $slate-6;
  color: $slate-1;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 8px 18px;
  font-size: 13px;
  &:hover {
    color: $slate-1;
    background-color: lighten($slate-12, 10%);
  }
}

.btn-primary-sm {
  @extend .btn-primary;
  padding: 2px 14px;
  font-size: 12px;
}

.btn-secondary {
  @include base;
  background-color: $slate-2;
  border: 1px solid $slate-6;
  padding: 8px 18px;
  &:hover {
    background-color: darken($slate-2, 5%);
    border: 1px solid $slate-7;
  }
}
