.nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid $slate-7;
  backdrop-filter: saturate(180%) blur(6px);
  transition: background-color 0.3s ease;

  .nav__container {
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 8px 0;

    .logo {
      cursor: pointer;
      width: 16px;

      &:hover {
        opacity: 0.9;
      }
    }

    .nav__links {
      display: flex;
      flex-direction: row;
      gap: 2.2rem;
    }
  }
}
