$max-width: 960px;
$brand-blue: #0d5fff;

// color variables are sourced from Radix Colors (https://www.radix-ui.com/colors/docs/palette-composition/scales)
$gray-1: hsl(0, 0%, 99%);
$gray-2: hsl(0, 0%, 97.5%);
$gray-3: hsl(0, 0%, 94.6%);
$gray-4: hsl(0, 0%, 92%);
$gray-5: hsl(0, 0%, 89.5%);
$gray-6: hsl(0, 0%, 86.8%);
$gray-7: hsl(0, 0%, 83%);
$gray-8: hsl(0, 0%, 73.2%);
$gray-9: hsl(0, 0%, 55.2%);
$gray-10: hsl(0, 0%, 50.3%);
$gray-11: hsl(0, 0%, 39.3%);
$gray-12: hsl(0, 0%, 12.5%);

$slate-1: hsl(240, 22%, 99%);
$slate-2: hsl(240, 20%, 98%);
$slate-3: rgb(242, 242, 245);
$slate-4: hsl(238, 11.8%, 92.9%);
$slate-5: hsl(237, 11.1%, 90.5%);
$slate-6: hsl(236, 10.6%, 87.9%);
$slate-7: hsl(234, 10.4%, 84.4%);
$slate-8: hsl(231, 10.2%, 75.1%);
$slate-9: rgb(139, 141, 152);
$slate-10: hsl(227, 5.2%, 51.8%);
$slate-11: hsl(220, 6%, 40%);
$slate-12: hsl(210, 12%, 12.5%);

$sage-1: hsl(155, 30%, 98.8%);
$sage-2: hsl(150, 14.3%, 97.3%);
$sage-3: hsl(150, 8%, 94.5%);
$sage-4: hsl(150, 6%, 92%);
$sage-5: hsl(150, 4.9%, 89.5%);
$sage-6: hsl(150, 4.3%, 86.7%);
$sage-7: hsl(150, 3.7%, 82.8%);
$sage-8: hsl(150, 2.9%, 72.9%);
$sage-9: hsl(155, 3.5%, 54.2%);
$sage-10: hsl(158, 2.9%, 49.3%);
$sage-11: hsl(155, 3%, 38.5%);
$sage-12: hsl(155, 12%, 11.5%);

$blue-1: hsl(206, 100%, 99.2%);
$blue-2: hsl(210, 100%, 98%);
$blue-3: hsl(209, 100%, 96.5%);
$blue-4: hsl(210, 98.8%, 94%);
$blue-5: hsl(209, 95%, 90.1%);
$blue-6: hsl(209, 81.2%, 84.5%);
$blue-7: hsl(208, 77.5%, 76.9%);
$blue-8: hsl(206, 81.9%, 65.3%);
$blue-9: hsl(206, 100%, 50%);
$blue-10: hsl(208, 93.5%, 47.4%);
$blue-11: hsl(211, 90%, 42%);
$blue-12: hsl(216, 71%, 23%);

$red-1: hsl(359, 100%, 99.4%);
$red-2: hsl(0, 100%, 98.4%);
$red-3: hsl(360, 100%, 96.8%);
$red-4: hsl(360, 97.9%, 94.8%);
$red-5: hsl(360, 90.2%, 91.9%);
$red-6: hsl(360, 81.7%, 87.8%);
$red-7: hsl(359, 74.2%, 81.7%);
$red-8: hsl(359, 69.5%, 74.3%);
$red-9: hsl(358, 75%, 59%);
$red-10: hsl(358, 67.4%, 54.6%);
$red-11: hsl(358, 65%, 47%);
$red-12: hsl(350, 63%, 24%);
