name: Pull request

on:
  pull_request:
    branches: [master, develop]

env:
  PROJECT: casimir
  STAGE: test
  AWS_REGION: us-east-2

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install mdBook KaTeX and Mermaid plugins
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: mdbook-katex mdbook-mermaid

      - name: Install and build all package dependencies
        run: npm ci
        env:
          PUBLIC_STAGE: ${{ env.STAGE }}

      - name: Test cdk deployment
        run: npm run test:cdk