name: Pull request

on:
  pull_request:
    branches: [master, develop]

env:
  PROJECT: casimir
  STAGE: test
  AWS_REGION: us-east-2

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo with submodules
        uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Setup Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install and build all package dependencies
        run: npm ci

      - name: Test cdk deployment
        run: npm run test:cdk