name: Push
on:
  push:
    branches:
      - develop

env:
  PROJECT: casimir
  STAGE: dev
  AWS_REGION: us-east-2

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    # Skip any pushes with commit flag '(skip deploy)'
    # Comment out for testing
    if: ${{ !contains(github.event.head_commit.message, '(skip deploy)') }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set the stage for testing
        if: ${{ github.actor == 'nektos/act' }}
        run: |
          echo "STAGE=dev" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
          
      - name: Install and build all package dependencies
        run: npm ci
        env:
          PUBLIC_STAGE: ${{ env.STAGE }}

      - name: Deploy cdk infrastructure
        run: npm run deploy

      - name: Select success emoji
        if: ${{ success() }}
        run: echo 'EMOJI=:rocket:' >> $GITHUB_ENV

      - name: Select failure emoji
        if: ${{ failure() }}
        run: echo 'EMOJI=:see_no_evil:' >> $GITHUB_ENV

      - name: Notify slack
        if: ${{ success() || failure() }}
        uses: slackapi/slack-github-action@v1.18.0
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": ":construction: Development Deployment → :ocean: Casimir"
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Branch* · <https://github.com/${{ github.repository }}/tree/develop|develop>"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Environment* · <https://${{ env.AWS_REGION }}.console.aws.amazon.com/cloudformation/home?region=${{ env.AWS_REGION }}#/stacks|${{ env.STAGE }}>"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Deployment completed with _${{ job.status }}_ ${{ env.EMOJI }}"
                  }
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "Preview",
                        "emoji": true
                      },
                      "style": "primary",
                      "value": "preview",
                      "url": "http://${{ env.STAGE }}.casimir.co"
                    },
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "Inspect Logs",
                        "emoji": true
                      },
                      "value": "inspect_logs",
                      "url": "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                    }
                  ]
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
